CompileFlags:
  Add: 
    - "-std=c++23"
    - "-DGLM_ENABLE_EXPERIMENTAL"
    - "-DGLM_FORCE_DEPTH_ZERO_TO_ONE"
    - "-DGLM_FORCE_RADIANS"
    - "-DVULKAN_HPP_NO_STRUCT_CONSTRUCTORS"
    - "-fprebuilt-module-path=/home/yasinvv/V_V/Wise/build/CMakeFiles/prog.dir/source/modules"
    - "-fprebuilt-module-path=/home/yasinvv/V_V/Wise/build"

Diagnostics:
  UnusedIncludes: None
